.my_border{
    border: 15px solid #083b4c;
}
.col-7{
    width: calc((100% / 7) * 1);
}
.primary{
    background-color: #083b4c;
}
.blue{
    background-color: #0bd6a1;
}
.standard-color{
    background-color: #1389b2;
}
.yellow{
    background-color: #ffd166;
}
.red{
    background-color: #f0466f;
}
h1{
    font-size: 100px;
    font-weight: 700;
}
h3{
    font-size: 30px;
}