.my_border{
    border: 20px solid #083b4c;
}
.col-7{
    width: calc((100% / 7) * 1);
}


.primary{
    background-color: #083b4c;

}
.blue{
    background-color: #1389b2;
}



h1{
    font-size: 100px;
    font-weight: 700;
}
h3{
    font-size: 30px;
}


/* .middle-text{
    width: auto;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
} */