.my_border{
    border: 20px solid #083b4c;
}
.col-7{
    width: calc((100% / 7) * 1);
}


.primary{
    background-color: #083b4c;

}
h1{
    font-size: 100px;
    font-weight: 700;
}
h3{
    font-size: 30px;
}